# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Streamlit secrets
.streamlit/secrets.toml

# IDE
.vscode/

# Temporary
*.log

# OS
.DS_Store
Thumbs.db

# Assets gráficos
cd assets/graphic/
assets/UrbanHeat_BCN_Inventario_assets.xlsx